$z_index_container: 2147483645;
$z_index_background: 2147483646;
$z_index_content: 2147483647;

.app-container {
  font-family: "ChaletComprime-CologneSixty";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: transparent;
  padding: 20px;
  z-index: $z_index_container !important;

  .background {
    z-index: $z_index_background !important;
    background-color: rgba(0, 0, 0, 0.274);
    filter: blur(5px);

    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .content {
    height: 720px;
    width: 1350px;
    padding: 0px;
    margin: 0px;

    background-color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff !important;
    z-index: $z_index_content !important;

    .content-header {
      display: flex;
      justify-content: start;
      align-items: center;

      padding-left: 20px !important;
    }

    .content-footer {
      display: flex;
      justify-content: end;
      align-items: center;

      padding-right: 20px !important;
    }

    .content-header,
    .content-footer {
      min-height: 60px;
    }

    .content-body {
      height: 600px;
      //padding: 10px;
      margin: 0px;

      $border: 1px solid rgba(255, 255, 255, 0.4);
      border-top: $border;
      border-bottom: $border;

      display: flex;
      flex-direction: row !important;
    }

    .content-footer {
      padding: 0px;

      .btn {
        width: 200px;
      }
    }
  }
}